<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>List Recommendation Vocabulary</title>
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport" />

    <link rel="icon" href="/assets/img/kaiadmin/icon.ico" type="image/x-icon" />

    <!-- Fonts and icons -->
    <script src="/assets/js/plugin/webfont/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: { families: ["Public Sans:300,400,500,600,700"] },
            custom: {
                families: [
                    "Font Awesome 5 Solid",
                    "Font Awesome 5 Regular",
                    "Font Awesome 5 Brands",
                    "simple-line-icons",
                ],
                urls: ["/assets/css/fonts.min.css"],
            },
            active: function () {
                sessionStorage.fonts = true;
            },
        });
    </script>

    <!-- CSS Files -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/plugins.min.css" />
    <link rel="stylesheet" href="/assets/css/kaiadmin.min.css" />

    <!-- CSS Just for demo purpose, don't include it in your project -->
    <!-- <link rel="stylesheet" href="assets/css/demo.css" /> -->
</head>

<body>
    <div class="wrapper">
        <%- include('./components/sidebar') %>

        <div class="main-panel">
            <%- include('./components/main-header') %>

            <div class="container">
                <div class="page-inner">
                    <div class="page-header">
                        <h3 class="fw-bold mb-3">List of Recommendation Vocabularies</h3>
                        <ul class="breadcrumbs mb-3">
                            <li class="nav-home">
                                <a href="/admin/index">
                                    <i class="icon-home"></i>
                                </a>
                            </li>
                            <li class="separator">
                                <i class="icon-arrow-right"></i>
                            </li>
                            <li class="nav-item">
                                <a href="/admin/list-recommendation-vocabulary">List of Recommendation Vocabularies</a>
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table id="add-row" class="display table table-striped table-hover">
                                            <thead>
                                                <tr style="text-align: center;">
                                                    <th style="width: 20%;">Vocabulary Name</th>
                                                    <th style="width: 20%;">Topic</th>
                                                    <th style="width: 10%;">Difficult Levels</th>
                                                    <th style="width: 30%">Video</th>
                                                    <th style="width: 30%">Status</th>
                                                    <th style="width: 20%;">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% list_recommendation_vocabulary.forEach(function(item) { %>
                                                    <tr style="text-align: center;">
                                                        <td>
                                                            <%= item.vocabulary.vocabulary_name %>
                                                        </td>
                                                        <td>
                                                            <%= item.topic.topic_name %>
                                                        </td>
                                                        <td>
                                                            <%= item.vocabulary.vocabulary_difficulty_level %>
                                                        </td>
                                                        <td>
                                                            <a href="vocabulary-detail/<%= item.vocabulary._id %>">Video</a>
                                                        </td>
                                                        <td>
                                                            <% if (item.vocabulary.vocabulary_recommendation_status === 0) { %>
                                                                Rejected
                                                            <% } else if (item.vocabulary.vocabulary_recommendation_status === 2) { %>
                                                                Pending Approval
                                                            <% } else if (item.vocabulary.vocabulary_recommendation_status === 3) { %>
                                                                Approved
                                                            <% } %>
                                                        </td>
                                                        <td>
                                                            <div class="form-button-action">
                                                                <button type="button" class="btn btn-success alert-demo" 
                                                                    data-id="<%= item.vocabulary._id %>" 
                                                                    data-request="3">
                                                                    Approve
                                                                </button>
                                                                <button type="button" class="btn btn-danger alert-demo" 
                                                                    data-id="<%= item.vocabulary._id %>" 
                                                                    data-request="0">
                                                                    Reject
                                                                </button>
                                                            </div>
                                                        </td>                                                        
                                                    </tr>
                                                    <% }) %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--   Core JS Files   -->
    <script src="/assets/js/core/jquery-3.7.1.min.js"></script>
    <script src="/assets/js/core/popper.min.js"></script>
    <script src="/assets/js/core/bootstrap.min.js"></script>

    <!-- jQuery Scrollbar -->
    <script src="/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>

    <!-- Chart JS -->
    <script src="/assets/js/plugin/chart.js/chart.min.js"></script>

    <!-- jQuery Sparkline -->
    <script src="/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

    <!-- Chart Circle -->
    <script src="/assets/js/plugin/chart-circle/circles.min.js"></script>

    <!-- Datatables -->
    <script src="/assets/js/plugin/datatables/datatables.min.js"></script>

    <!-- Bootstrap Notify -->
    <script src="/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>

    <!-- jQuery Vector Maps -->
    <script src="/assets/js/plugin/jsvectormap/jsvectormap.min.js"></script>
    <script src="/assets/js/plugin/jsvectormap/world.js"></script>

    <!-- Sweet Alert -->
    <script src="/assets/js/plugin/sweetalert/sweetalert.min.js"></script>

    <!-- Kaiadmin JS -->
    <script src="/assets/js/kaiadmin.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#basic-datatables").DataTable({});

            $("#multi-filter-select").DataTable({
                pageLength: 5,
                initComplete: function () {
                    this.api()
                        .columns()
                        .every(function () {
                            var column = this;
                            var select = $(
                                '<select class="form-select"><option value=""></option></select>'
                            )
                                .appendTo($(column.footer()).empty())
                                .on("change", function () {
                                    var val = $.fn.dataTable.util.escapeRegex($(this).val());

                                    column
                                        .search(val ? "^" + val + "$" : "", true, false)
                                        .draw();
                                });

                            column
                                .data()
                                .unique()
                                .sort()
                                .each(function (d, j) {
                                    select.append(
                                        '<option value="' + d + '">' + d + "</option>"
                                    );
                                });
                        });
                },
            });

            // Add Row
            $("#add-row").DataTable({
                pageLength: 5,
            });

        });
    </script>

    <!-- FUNCTION TO LOGOUT -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/assets/js/admin/logOut.js"></script>

    <script>
        $(".alert-demo").click(function (e) {
            const vocabularyId = $(this).data('id');
            const request = $(this).data('request');

            swal({
                title: "Change status",
                icon: "warning",
                buttons: {
                    confirm: {
                        text: "Confirm",
                        value: true,
                        visible: true,
                        className: "btn btn-success",
                        closeModal: true,
                    },
                    cancel: {
                        text: "Cancel",
                        value: false,
                        visible: true,
                        className: "btn btn-danger",
                        closeModal: true,
                    },
                },
            }).then((willChange) => {
                if (willChange) {
                    axios.put(`/admin/change-recommendation-vocabulary/${vocabularyId}`, { request: request })
                        .then(response => {
                            swal("Status changed successfully!", {
                                icon: "success",
                            }).then(() => {
                                location.reload();
                            });
                        })
                        .catch(error => {
                            console.error('Error changing status:', error);
                            swal("Failed to change status!", {
                                icon: "error",
                            });
                        });
                }
            });
        });
    </script>
</body>

</html>