<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>List Vocabulary</title>
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport" />

    <link rel="icon" href="/assets/img/kaiadmin/icon.ico" type="image/x-icon" />

    <!-- Fonts and icons -->
    <script src="/assets/js/plugin/webfont/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: { families: ["Public Sans:300,400,500,600,700"] },
            custom: {
                families: [
                    "Font Awesome 5 Solid",
                    "Font Awesome 5 Regular",
                    "Font Awesome 5 Brands",
                    "simple-line-icons",
                ],
                urls: ["/assets/css/fonts.min.css"],
            },
            active: function () {
                sessionStorage.fonts = true;
            },
        });
    </script>

    <!-- CSS Files -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/plugins.min.css" />
    <link rel="stylesheet" href="/assets/css/kaiadmin.min.css" />

    <!-- CSS Just for demo purpose, don't include it in your project -->
    <!-- <link rel="stylesheet" href="assets/css/demo.css" /> -->
</head>

<body>
    <div class="wrapper">
        <%- include('./components/sidebar') %>

        <div class="main-panel">
            <%- include('./components/main-header') %>

            <div class="container">
                <div class="page-inner">
                    <div class="page-header">
                        <h3 class="fw-bold mb-3">List of Vocabularies</h3>
                        <ul class="breadcrumbs mb-3">
                            <li class="nav-home">
                                <a href="/admin/index">
                                    <i class="icon-home"></i>
                                </a>
                            </li>
                            <li class="separator">
                                <i class="icon-arrow-right"></i>
                            </li>
                            <li class="nav-item">
                                <a href="/admin/list-vocabulary">List of Vocabularies</a>
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="d-flex align-items-center">
                                        <button class="btn btn-primary btn-round ms-auto" data-bs-toggle="modal"
                                            data-bs-target="#addVocbularyModal">
                                            <i class="fa fa-plus"></i>
                                            Add Row
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body">

                                    <!-- ADD VOCABULARY MODAL -->
                                    <div class="modal fade" id="addVocbularyModal" tabindex="-1" role="dialog"
                                        aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header border-0">
                                                    <h5 class="modal-title">
                                                        <span class="fw-mediumbold"> Add New Vocabulary</span>
                                                    </h5>
                                                    <button type="button" class="close closeModalButton"
                                                        data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p class="small">
                                                        Create a new vocabulary using this form, make sure you fill them
                                                        all
                                                    </p>
                                                    <form id="addVocabulary_form">
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="form-group form-group-default">
                                                                    <label>Vocabulary Name</label>
                                                                    <input id="vocabulary_name" type="text"
                                                                        class="form-control" placeholder="Fill name"
                                                                        required />
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12">
                                                                <div class="form-group form-group-default">
                                                                    <label>Vocabulary Description</label>
                                                                    <input id="vocabulary_description" type="text"
                                                                        class="form-control" placeholder="Description"
                                                                        required />
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 pe-0">
                                                                <div class="form-group form-group-default">
                                                                    <label>Topic</label>
                                                                    <select class="form-select" id="vocabulary_topic"
                                                                        required>
                                                                        <% list_topic.forEach(topic=> { %>
                                                                            <option value="<%= topic._id %>">
                                                                                <%= topic.topic_name %>
                                                                            </option>
                                                                            <% }) %>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group form-group-default">
                                                                    <label>Difficult Levels</label>
                                                                    <select class="form-select"
                                                                        id="vocabulary_difficulty_level" required>
                                                                        <option>1</option>
                                                                        <option>2</option>
                                                                        <option>3</option>
                                                                        <option>4</option>
                                                                        <option>5</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label for="exampleFormControlFile1">Vocabulary
                                                                        Video</label>
                                                                    <input type="file" class="form-control-file"
                                                                        id="vocabulary_video" required />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="modal-footer border-0">
                                                    <button type="button" id="addRowButton" class="btn btn-primary">
                                                        Add
                                                    </button>
                                                    <button type="button" class="btn btn-danger closeModalButton"
                                                        data-dismiss=" modal">
                                                        Close
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- EDIT VOCABULARY MODAL -->
                                    <div class="modal fade" id="editVocbularyModal" tabindex="-1" role="dialog"
                                        aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header border-0">
                                                    <h5 class="modal-title">
                                                        <span class="fw-mediumbold"> Edit Vocabulary</span>
                                                    </h5>
                                                    <button type="button" class="close closeModalButton"
                                                        data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p class="small">
                                                        Create a new vocabulary using this form, make sure you fill them
                                                        all
                                                    </p>
                                                    <form id="editVocabulary_form">
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="form-group form-group-default">
                                                                    <label>Vocabulary Name</label>
                                                                    <input id="edit_vocabulary_name" type="text"
                                                                        class="form-control" placeholder="Fill name"
                                                                        required />
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12">
                                                                <div class="form-group form-group-default">
                                                                    <label>Vocabulary Description</label>
                                                                    <input id="edit_vocabulary_description" type="text"
                                                                        class="form-control" placeholder="Description"
                                                                        required />
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 pe-0">
                                                                <div class="form-group form-group-default">
                                                                    <label>Topic</label>
                                                                    <select class="form-select" id="edit_vocabulary_topic"
                                                                        required>
                                                                        <% list_topic.forEach(topic=> { %>
                                                                            <option value="<%= topic._id %>">
                                                                                <%= topic.topic_name %>
                                                                            </option>
                                                                            <% }) %>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group form-group-default">
                                                                    <label>Difficult Levels</label>
                                                                    <select class="form-select"
                                                                        id="edit_vocabulary_difficulty_level" required>
                                                                        <option>1</option>
                                                                        <option>2</option>
                                                                        <option>3</option>
                                                                        <option>4</option>
                                                                        <option>5</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="form-group form-group-default">
                                                                    <label style="margin-bottom: 10px;"
                                                                        for="exampleFormControlFile1">Vocabulary
                                                                        video: </label>
                                                                    <input type="file" class="form-control-file"
                                                                        id="edit_vocabulary_video" required />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="modal-footer border-0">
                                                    <button type="button" id="editRowButton" class="btn btn-primary"
                                                        data-id="">
                                                        Edit
                                                    </button>
                                                    <button type="button" class="btn btn-danger closeModalButton"
                                                        data-dismiss=" modal">
                                                        Close
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="table-responsive">
                                        <table id="add-row" class="display table table-striped table-hover">
                                            <thead>
                                                <tr style="text-align: center;">
                                                    <th style="width: 20%;">Vocabulary Name</th>
                                                    <th style="width: 20%;">Topic</th>
                                                    <th style="width: 10%;">Difficult Levels</th>
                                                    <th style="width: 30%">Video</th>
                                                    <th style="width: 20%;">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% list_vocabulary_topic.forEach(item => { %>
                                                    <tr style="text-align: center;">
                                                        <td>
                                                            <%= item.vocabulary.vocabulary_name %>
                                                        </td>
                                                        <td>
                                                            <%= item.topic.topic_name %>
                                                        </td>
                                                        <td>
                                                            <%= item.vocabulary.vocabulary_difficulty_level %>
                                                        </td>
                                                        <td>
                                                            <a href="/admin/detail-vocabulary/<%= item.vocabulary._id %>">Video</a>
                                                        </td>
                                                        <td>
                                                            <div class="form-button-action">
                                                                <button type="button" data-bs-toggle="tooltip" title=""
                                                                    class="btn btn-link btn-primary btn-lg"
                                                                    data-original-title="Edit Task" id="edit-icon"
                                                                    data-id="<%= item.vocabulary._id %>">
                                                                    <i class="fa fa-edit"></i>
                                                                </button>
                                                                <button type="button" data-bs-toggle="tooltip" title=""
                                                                    class="btn btn-link btn-danger delete-icon"
                                                                    data-id="<%= item.vocabulary._id %>"
                                                                    data-original-title="Remove">
                                                                    <i class="fa fa-times"></i>
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <% }) %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--   Core JS Files   -->
    <script src="/assets/js/core/jquery-3.7.1.min.js"></script>
    <script src="/assets/js/core/popper.min.js"></script>
    <script src="/assets/js/core/bootstrap.min.js"></script>

    <!-- jQuery Scrollbar -->
    <script src="/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>

    <!-- Chart JS -->
    <script src="/assets/js/plugin/chart.js/chart.min.js"></script>

    <!-- jQuery Sparkline -->
    <script src="/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

    <!-- Chart Circle -->
    <script src="/assets/js/plugin/chart-circle/circles.min.js"></script>

    <!-- Datatables -->
    <script src="/assets/js/plugin/datatables/datatables.min.js"></script>

    <!-- Bootstrap Notify -->
    <script src="/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>

    <!-- jQuery Vector Maps -->
    <script src="/assets/js/plugin/jsvectormap/jsvectormap.min.js"></script>
    <script src="/assets/js/plugin/jsvectormap/world.js"></script>

    <!-- Sweet Alert -->
    <script src="/assets/js/plugin/sweetalert/sweetalert.min.js"></script>

    <!-- Kaiadmin JS -->
    <script src="/assets/js/kaiadmin.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#basic-datatables").DataTable({});

            $("#multi-filter-select").DataTable({
                pageLength: 5,
                initComplete: function () {
                    this.api()
                        .columns()
                        .every(function () {
                            var column = this;
                            var select = $(
                                '<select class="form-select"><option value=""></option></select>'
                            )
                                .appendTo($(column.footer()).empty())
                                .on("change", function () {
                                    var val = $.fn.dataTable.util.escapeRegex($(this).val());

                                    column
                                        .search(val ? "^" + val + "$" : "", true, false)
                                        .draw();
                                });

                            column
                                .data()
                                .unique()
                                .sort()
                                .each(function (d, j) {
                                    select.append(
                                        '<option value="' + d + '">' + d + "</option>"
                                    );
                                });
                        });
                },
            });

            // Add Row
            $("#add-row").DataTable({
                pageLength: 5,
            });

        });
    </script>

    <!-- FUNCTION TO LOGOUT -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/assets/js/admin/logOut.js"></script>

    <!-- FUNCTION CLOSE MODAL -->
    <script>
        $(document).ready(function () {
            // Sự kiện lắng nghe khi nhấn vào nút đóng
            $('.closeModalButton').click(function () {
                $('#addVocbularyModal').modal('hide');
            });

            $('.closeModalButton').click(function () {
                $('#editVocbularyModal').modal('hide');
            });

        });
    </script>

    <!-- ADD VOCAB FUNCTION -->
    <script>
        document.getElementById('addRowButton').addEventListener('click', function (e) {
            e.preventDefault();

            const form = document.getElementById('addVocabulary_form');
            const isValid = form.checkValidity();

            if (!isValid) {
                form.reportValidity();
            } else {
                const vocabularyName = document.getElementById('vocabulary_name').value;
                const description = document.getElementById('vocabulary_description').value;
                const topic = document.getElementById('vocabulary_topic').value;
                const difficultyLevel = document.getElementById('vocabulary_difficulty_level').value;
                const videoInput = document.getElementById('vocabulary_video')
                const allowedExtensions = ['mp4', 'avi ', 'mkv', 'mov'];


                if (videoInput) {
                    const fileExtension = videoInput.files[0].name.split('.').pop().toLowerCase();

                    if (!allowedExtensions.includes(fileExtension)) {
                        return swal("Only video files are allowed!", {
                            icon: "error",
                            buttons: {
                                confirm: {
                                    className: "btn btn-danger",
                                },
                            },
                        });
                    }

                    // Kiểm tra kích thước tệp
                    if (videoInput.size > 5 * 1024 * 1024) { // 5MB
                        return swal("File size must be less than 5MB!", {
                            icon: "error",
                            buttons: {
                                confirm: {
                                    className: "btn btn-danger",
                                },
                            },
                        });
                    }
                }


                const formData = new FormData();
                formData.append('vocabulary_name', vocabularyName);
                formData.append('vocabulary_description', description);
                formData.append('vocabulary_topic', topic);
                formData.append('vocabulary_difficulty_level', difficultyLevel);
                formData.append('vocabulary_video_link', videoInput.files[0]);

                // Gửi dữ liệu lên API
                axios.post('/admin/add-vocabulary', formData, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                })
                    .then(response => {
                        swal("Added successfully!", {
                            icon: "success",
                            buttons: {
                                confirm: {
                                    className: "btn btn-success",
                                },
                            },
                        }).then(() => {
                            $('#addVocbularyModal').modal('hide');
                            window.location.href = "/admin/list-vocabulary";

                        });
                    })
                    .catch(error => {
                        console.error('Error adding vocabulary:', error);
                        swal("Failed to add vocabulary!", {
                            icon: "error",
                            buttons: {
                                confirm: {
                                    className: "btn btn-danger",
                                },
                            },
                        });
                    });
            }
        });
    </script>

    <!-- EDIT VOCAB FUNCTION -->
    <script>
        // Truyền data cho EDIT modal
        document.querySelectorAll('#edit-icon').forEach(button => {
            button.addEventListener('click', function () {
                const vocabularyId = this.getAttribute('data-id');

                axios.post(`/admin/list-vocabulary/${vocabularyId}`)
                    .then(response => {
                        const vocabulary = response.data;

                        // Điền dữ liệu vào các trường trong modal
                        document.getElementById('edit_vocabulary_name').value = vocabulary.vocabulary_name;
                        document.getElementById('edit_vocabulary_description').value = vocabulary.vocabulary_description;
                        document.getElementById('edit_vocabulary_topic').value = vocabulary.vocabulary_topic;
                        document.getElementById('edit_vocabulary_difficulty_level').value = vocabulary.vocabulary_difficulty_level;
                        document.getElementById('edit_vocabulary_video').innerText = vocabulary.vocabulary_video_link;

                        const saveButton = document.getElementById('editRowButton');
                        saveButton.setAttribute('data-id', vocabularyId);
                        // Hiển thị modal
                        $('#editVocbularyModal').modal('show');
                    })
                    .catch(error => {
                        console.error('Error fetching vocabulary:', error);
                    });
            });
        });

        document.getElementById('editRowButton').addEventListener('click', function (e) {
            e.preventDefault();

            const vocabularyID = this.getAttribute('data-id');

            alert(vocabularyID)

            const form = document.getElementById('editVocabulary_form');
            const isValid = form.checkValidity();

            if (!isValid) {
                form.reportValidity();
            } else {
                const vocabularyName = document.getElementById('edit_vocabulary_name').value;
                const description = document.getElementById('edit_vocabulary_description').value;
                const topic = document.getElementById('edit_vocabulary_topic').value;
                const difficultyLevel = document.getElementById('edit_vocabulary_difficulty_level').value;
                const videoInput = document.getElementById('edit_vocabulary_video')

                const formData = new FormData();
                formData.append('vocabulary_name', vocabularyName);
                formData.append('vocabulary_description', description);
                formData.append('vocabulary_topic', topic);
                formData.append('vocabulary_difficulty_level', difficultyLevel);
                formData.append('vocabulary_video_link', videoInput.files[0]);

                // Gửi dữ liệu lên API
                axios.put(`/admin/edit-vocabulary/${vocabularyID}`, formData, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                })
                    .then(response => {
                        swal("Edit successfully!", {
                            icon: "success",
                            buttons: {
                                confirm: {
                                    className: "btn btn-success",
                                },
                            },
                        }).then(() => {
                            $('#editVocbularyModal').modal('hide');
                            window.location.href = "/admin/list-vocabulary";

                        });
                    })
                    .catch(error => {
                        console.error('Error adding vocabulary:', error);
                        swal("Failed to edit vocabulary!", {
                            icon: "error",
                            buttons: {
                                confirm: {
                                    className: "btn btn-danger",
                                },
                            },
                        });
                    });
            }
        });
    </script>

    <!-- DELETE VOCABULARY FUNCTION -->
    <script>
        $(".delete-icon").click(function (e) {
            const vocabularyID = this.getAttribute('data-id');
            swal({
                title: "Are you sure you delete ?",
                icon: "warning",
                buttons: {
                    cancel: {
                        value: false,
                        visible: true,
                        text: "Cancel",
                        className: "btn btn-success",
                    },
                    confirm: {
                        value: true,
                        text: "Delete",
                        className: "btn btn-danger",
                    },
                },
            }).then((willLogout) => {
                if (willLogout) {
                    // Gọi API logout bằng Axios
                    axios.delete(`delete-vocabulary/${vocabularyID}`, {})
                        .then(response => {
                            swal("Delete Successfully", {
                                icon: "success",
                                buttons: {
                                    confirm: {
                                        className: "btn btn-success",
                                    },
                                },
                            }).then(() => {
                                window.location.href = "/admin/list-vocabulary";
                            });
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            swal("Failed to delete !", {
                                buttons: {
                                    confirm: {
                                        className: "btn btn-danger",
                                    },
                                },
                            });
                        });
                } else {
                    swal("Failed to delete !", {
                        buttons: {
                            confirm: {
                                className: "btn btn-danger",
                            },
                        },
                    });
                }
            });
        });
    </script>
</body>

</html>